@model Feedback.Models.Question

@{
    ViewBag.Title = "Create";
}

<script>
    $(function() {
        $('#questionTags').change(function() {
            $.ajax({
                url: "/Tag/Lookup",
                type: "GET",
                data: {
                    tagName: "test"
                }
            }).done(function (tagsFound) {                
                var tempArray = JSON.parse(tagsFound);
                
                for (var i = 0; i < tempArray.length; i++) {
                    alert(tempArray[i].Name + "::" + tempArray[i].Description);
                }
            });
        });
    });
</script>

<h2>Create</h2>

<table>
    <tr>
        <td>Title</td>
        <td><input type="text" name="questionTitle"/></td>
    </tr>
    <tr>
        <td>Body</td>
        <td><input type="text" name="questionBody"/></td>
    </tr>
    <tr>
        <td>Tags</td>
        <td><input type="text" name="questionTags" id="questionTags"/></td>
    </tr>
</table>