@model Feedback.Models.Question

@{
    ViewBag.Title = "Create";
}

<script>
    $(function() {
        $('#questionTags').keyup(function() {
            var tagNameVar = $('#questionTags').val();
            $.ajax({
                url: "/Tag/Lookup",
                type: "GET",
                data: {
                    tagName: tagNameVar
                }
            }).done(function (tagsFound) {                
                var tempArray = JSON.parse(tagsFound);
                                                
                for (var i = 0; i < tempArray.length; i++) {
                    //if tagName matches the Name then box should go away
                    //if (tempArray[i].name == tagNameVar) {
                    //    console.log('if fired');
                    //} else {
                    //    console.log('else fired ::' + tagNameVar);
                    //    $('#questionTags').popover({ content: tagNameVar, trigger: 'manual' });
                    //}
                    //else display box                    
                    
                    //alert('popover fired');
                    //alert(tempArray[i].Name + "::" + tempArray[i].Description);
                }
            });
        });
    });
</script>

<h2>Create</h2>

<table>
    <tr>
        <td>Title</td>
        <td><input type="text" name="questionTitle"/></td>
    </tr>
    <tr>
        <td>Body</td>
        <td><input type="text" name="questionBody"/></td>
    </tr>
    <tr>
        <td>Tags</td>
        <td><input type="text" name="questionTags" id="questionTags" data-content="And here's some amazing content. It's very engaging. right?" data-original-title="Blah"/></td>
    </tr>
</table>